<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateCsFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreateCsFiles.Properties.Settings>
            <setting name="Commands" serializeAs="String">
                <value>C:\Users\Sina\source\repos\HarmonyAPI2024\Harmony2024.CQRS\Commands</value>
            </setting>
            <setting name="Queries" serializeAs="String">
                <value>C:\Users\Sina\source\repos\HarmonyAPI2024\Harmony2024.CQRS\Queries</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value>C:\Users\Sina\source\repos\HarmonyAPI2024</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>C:\Users\Sina\Desktop\Outputs</value>
            </setting>
        </CreateCsFiles.Properties.Settings>
    </userSettings>
</configuration>